$app_content--width: 80%;
$app_content--gap: 1.5rem;

$app_header--height: 8vh;

$side_bar--width: 26%;


$highlight--color: #1f6f9d;
$highlight_dark--color: #005382;
$highlight_light--color: lightblue;
$highlight_contrast--color: white;

$main--color: #eaeaea;
$main_dark--color: #cccccc;
$main_light--color: white;
$main_contrast--color: black;

$negative_dark--color: #d04343;
$negative--color: #ff5f5f;
$negative_contrast--color: white
